.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.map{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 60%;
  margin-top: 50px;
}
